h1 {
	text-align: center;
	font-style: italic;
	text-decoration: underline;
}

body {
	background-color: lightyellow
}

table {
	border: 5px solid black;
	position: relative;
	margin: auto;
	text-align: center;
}

td {
	border: 2px solid black;
	width: 100px;
	height: 100px;
}

button {
	font-size: 25px;
	margin: 15px;
}

.container {
	margin: 10px;
	display: flex;
	justify-content: center;
}

#message {
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
	background-color: darkorange;
}

.playerInfo {
	font-size: 22px;
}

#player1 {
	font-size: 20px;
	margin: 5px;
}

#player2 {
	font-size: 20px;
}

#showPlayerTurn {
	margin: 10px 0px;
	background-color: coral;
	padding: 5px;
	font-size: 20px;
}