table {
	border: 1px solid black;
	position: relative;
	margin: auto;
	text-align: center;
}

td {
	border: 1px solid black;
	width: 100px;
	height: 100px;
}

button {
	font-size: 20px;
	margin: 15px;
}

.container {
	margin: 40px;
	display: flex;
	justify-content: center;
}

.result {
	margin-top: 40px;
	text-align: center;
	font-size: 30px;
}